/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    min-width: 1500px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

/* CLASSI COMUNI */
.flex{
    display: flex;
}

.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-j-spc-between{
    display: flex;
    justify-content:space-between;
}

.flex-ai-center{
    display: flex;
    align-items: center;
}

.flex-ai-start{
    display: flex;
    align-items: start;
}

/* background color */
.bc-white{
    background-color: white;
}
.bc-lightblue{
    background-color: #b4d0e7;
}
.bc-black{
    background-color: #000000;
}
.bc-green{
    background-color: #a2d39b;
}
.bc-strongred{
    background-color: #61082b;
}
.bc-lightblue-banner{
    background-color: #0093ce;
}
.bc-red{
    background-color: #ff1c1c;
}
.bc-reddie{
    background-color: #d5001f;
}
.bc-lightgray{
    background-color: #b4d0e7;
}
.bc-blue{
    background-color: #0d2481;
}
.bc-yellow{
    background-color: #ffd830;
}

/* colori */
.cl-gray{
    color: gray;
}
.cl-strongred{
    color: #61082b;
}
.cl-icon-check{
    color: #0f60ff;
}

/* font styles */
.strong{
    font-weight: 600;
}
.strong-800{
    font-weight: 800;
}
.h2-section{
    font-size: 2.5rem;
}


/* container */
.large-container{
    width: 62%;
    margin: 20px 0;
}

.container{ 
    width: 51%;
    margin: 20px 0;
}

.button{
    border-color: rgba(0, 0, 0, 0);
    padding: 0.5rem 1rem;
    background-color: #0061ff;
    color: white;
    font-size: 1rem;
}

.large-button{
    padding: 0.7rem 1rem;
}

.white-button{
    border-color: gray;
    padding: 0.7rem 1rem;
    background-color: white;
    color: gray;
    margin: 2rem 0;
    font-size: 1rem;
}

div.divider{
    height: 1px;
    background-color: white;
    width: 200px;
}






/* HEADER */
header{
    height: 80px;
}
header .nav-left{
    height: 100%;
}

header .nav-right{
    height: 100%;
    padding-right: 1rem;
}

header .nav-right > *{
    margin: 0 0 0 0.5rem;
}

nav.nav-left  img{
    height: 25px;
}

header a{
    padding: 10px 15px;
}

/* MAIN */

/* Jumbotron section */
main > section.jumbotron{
    padding: 20px 0 0 0;
}

section.jumbotron h1{
    font-size: 5rem;
    padding: 50px 0 0 0;
    font-weight: 800;
}

.jumbotron-bottom-container{
    max-height: 450px;
}

.jumbotron-bottom-container > .column-30{
    width: 30%;
    padding-top: 50px;
    position: relative;
}

.jumbotron-bottom-container > .column-70{
    width: 70%;
    
}

.jumbotron-bottom-container > .column-70 img{
    width: 100%;
    position: relative;
    top: 50px;
}

section.jumbotron div.jumbotron-bottom-container button{
    margin: 2rem 0;
    font-size: 1rem;
}

.jumbotron-bottom-container > .column-30 >div{
    font-size: 3rem;
    position: absolute;
    bottom: 0;
}


/* main 3 sezioni */

/* sezione 1  (tre column + una row)  */
#find-plan h2{
    font-size: 2.8rem;
    font-weight: 800;
    padding: 8rem 0 3rem 0
}

#find-plan .container-opt-sub{
    padding-top: 3.5rem;
    font-size: 0.9rem;
    flex-wrap: wrap;
}

#find-plan .container-opt-sub article.column-opt-sub{
    width: calc((100% / 3) - 35px); 
}

#find-plan .container-opt-sub article#row-enterprise{
    width: 100%;
    margin-top: 50px;
}

/* Interno delle colonne */
#find-plan .plan-name{
    text-align: center;
    border: 1px solid #e4e5ec;
    padding: 0.5rem 0;
}

#find-plan .plan-info{
    padding: 2rem;
    border: 1px solid #e4e5ec;
}

#find-plan .plan-info *{
    padding: 0.3rem 0 ;
}

#find-plan .plan-info > h3{
    font-size: 1.5rem;
}

#find-plan .plan-info > .spec-info{
    padding: 2.4rem 0 0 0;
}

#find-plan div.divider-plan-section{
    height: 1px;
    background-color: #e4e5ec;
    width: 15%;
    padding: 0;
    margin: 2.8rem 0 0 0;
}

#find-plan button.large-button{
    padding: 0.8rem 2.8rem;
    margin: 2.8rem 0 1.5rem 0;
}

#find-plan a{
    text-decoration: underline;
    color: #6667f5;
}

/* organizzazione tra icona e testo all'interno delle colonne */
#find-plan .column-icon{
    width: 10%;  
}


#find-plan .spec-info p{
    width: 90%;
}

/* 4 elemento in riga */
#row-enterprise .plan-info{
    position: relative;
}

#row-enterprise .plan-info p:nth-last-child(2){
    padding: 3.5rem 0 0.5rem 0;
    width: 70%;
}

#row-enterprise button{
    display: inline-block;
    position: absolute;
    top: -10px;
    right: 2.8rem;
}


/* Sezione partners */
#dropbox-partner > .container{
    padding: 6.2rem 0;
}

#dropbox-partner aside{
    width: 60%;
}

#dropbox-partner aside img{
    width: 100%;
}

#dropbox-partner article{
    width: 40%;
    padding: 3rem;
}
#dropbox-partner article h3{
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
}


/* Sezione Dropbox business features */
#dropbox-business > .container{
    margin-bottom: 10rem;
}

#dropbox-business > .container > h2{
    padding: 0rem 0 2.5rem 0;
}

#dropbox-business > .container > div:last-child h2{
    padding: 10rem 0 2.5rem 0;
}

#dropbox-business .container-business-features{
    width: 100%;
    flex-wrap: wrap;
}

#dropbox-business .container-business-features .business-feature{
    width: calc(100% / 3);
    padding-bottom: 3rem;
}

#dropbox-business .business-feature > img{
    width: 90%;
}

#dropbox-business .business-feature > h3{
    padding: 1rem 0 1rem 0;
    font-size: 1.5rem;
}

#dropbox-business .business-feature > p{
    padding-right: 3.5rem;

}

#dropbox-business > .container > a{
    padding: 1rem 0;
}




/* Sezione banner a piena larghezza  */
#section-banners .banners-container{
    aspect-ratio: 1/1;
    width: calc(100% / 3);
}

#section-banners .right-banners-container,
#section-banners .left-banners-container{
    display: flex;
    flex-wrap: wrap;
}

.banner{
    aspect-ratio: 1/1;
    width: 50%;
}

#section-banners .banners-container img{
    width: 160px;
    filter: invert(1);
}

#section-banners .center-banners-container{
    padding: 3rem;
}

#section-banners .center-banners-container img{
    filter: none;
    width: 50%;
}

.section-banners .center-banners-container .divider{
    background-color: gray;
    margin: 3rem 0;
    width: 120px;
    color:lightgray;
}

.section-banners .center-banners-container p:last-child{
    padding-top: 3rem;
}


/* ultime due sezioni main */
/* Dropbox Business */
#dropbox-business-azienda{
    padding: 3.5rem 0;
}

#dropbox-business-azienda  h2{
    width: 72%;
    padding: 2.8rem 0 2rem 0;
}

#dropbox-business-azienda button{
    border-color: rgba(0, 0, 0, 0);
    padding: 0.7rem 2.5rem;
    background-color: white;
    color: black;
    margin: 2rem 0;
    font-size: 1rem;
}


/* domande frequenti */
#frequent-questions div.container{
    margin: 10rem 0;

}

#frequent-questions h2{
    width: max-content;
    padding: 0 0 2rem 0;

}

#frequent-questions .divider{
    height: 1px;
    background-color: #000000;
    width: 100%;
    margin: 2.5rem 0;
}

#frequent-questions > div > div.flex-j-spc-between{
    padding-right: 2rem;
    font-weight: 800;
}


/* footer */
footer{
    color: white;
}

footer .top-footer-container{
    padding: 3rem 0;
}

footer .large-container .footer-column{
    width: 23%;
}

footer .large-container .footer-column h3{
    padding: 1.8rem 0;
    font-size: 1.4rem;
    
}

footer .large-container .footer-column li{
    padding: 0.5rem 0;
    font-size: 0.9rem;
}

.bottom-footer-container div.divider{
    margin-bottom: 3.5rem;
}

.bottom-footer-container div:last-child{
    color: gray;
    padding-bottom: 2rem;
}