/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}

/* CLASSI COMUNI */
.flex{
    display: flex;
}
.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-j-spc-between{
    display: flex;
    justify-content:space-between;
}

.flex-ai-center{
    display: flex;
    align-items: center;
}
.flex-ai-start{
    display: flex;
    align-items: start;
}

.bc-white{
    background-color: lightsalmon;
}
.bc-lightblue{
    background-color: #b4d0e7;
}
.bc-black{
    background-color: #000000;
}
.bc-green{
    background-color: #a2d39b;
}
.bc-strongred{
    background-color: #61082b;
}
.bc-lightblue{
    background-color: #0093ce;
}
.bc-red{
    background-color: #ff1c1c;
}
.bc-reddie{
    background-color: #d5001f;
}
.bc-lightgray{
    background-color: #b4d0e7;
}
.bc-blue{
    background-color: #0d2481;
}
.bc-yellow{
    background-color: #ffd830;
}

.cl-gray{
    color: #e4e5ec;
}

.strong{
    font-weight: 600;
}

/* container */

.large-container{
    /* altezza fissa da rimuovere e aggiungere padding al contenuto */
    /* height: 300px; */
    
    width: 68%;
    margin: 20px 0;
    background-color: lightcoral;
}

.container{
    /* qui sotto da rimuovere */
    background-color: lightcoral;
    
    width: 57%;
    margin: 20px 0;
}

a{
    text-decoration: none;
    color: black;
}

.button{
    border-color: rgba(0, 0, 0, 0);
    padding: 0.5rem;
    background-color: #0061ff;
    color: white;
}
.large-button{
    padding: 0.5rem 1rem;
}
.white-button{
    border-color: gray;
    padding: 0.5rem;
    background-color: white;
    color: gray;
    margin: 1rem 0;
}

div.divider{
    height: 1px;
    background-color: white;
    width: 200px;
}



/* HEADER */

header .nav-left{
    /*qui sotto da rimuovere */
    background-color: lightcoral;
    
    height: 100%;
}

header .nav-right{
    /* qui sotto da rimuovere */
    background-color: lightcoral;
    
    height: 100%;
}

nav.nav-left  img{
    height: 25px;
}

header a{
    padding: 10px 15px;
}

/* MAIN */

/* Jumbo section */
main > section.jumbo{
    padding: 20px 0 0 0;
}
section.jumbo h1{
    font-size: 5rem;
    padding: 50px 0;
    font-weight: 800;
}

section.jumbo div.jumbo-bottom-container{
    display: flex;
}

section.jumbo div.jumbo-bottom-container > div{
    height: 400px;
    width: 40%;
    background-color: purple;
    padding-right: 10px;
    position: relative;
}

section.jumbo div.jumbo-bottom-container > div > button{
    margin: 1rem 0;
}

section.jumbo div.jumbo-bottom-container i{
    font-size: 2rem;
    position: absolute;
    bottom: 0;
}

section.jumbo div.jumbo-bottom-container > div.img-container{
    height: 400px;
    width: 60%;
    background-color: pink;
}

div.img-container img{
    height: 120%;
}



/* main 5 sezioni */

/* sezione 1  (tre colonne + riga)  */


#find-plan h2{
    font-size: 2.8rem;
    padding: 6rem 0 3rem 0
}

#find-plan .container-opt-sub{
    padding: 2.5rem 0 1.5rem 0;
    flex-wrap: wrap;
}

#find-plan .container-opt-sub article.column-opt-sub{
    /* larghezza con rimosso il margine dato alla sola colonna "advance" */
    width: calc((100% / 3) - 20px);
    

    /*qui sotto da rimuovere */
    background-color: purple;
}

#find-plan .container-opt-sub article.column-opt-sub.advanced{
    margin: 0 10px;
}

#find-plan .container-opt-sub article#row-enterprise{
    width: 100%;
    margin-top: 20px;

    /*qui sotto da rimuovere */
    background-color: purple;
}

/* Interno delle colonne */
#find-plan .plan-name{
    text-align: center;
    border: 1px solid #e4e5ec;
    padding: 0.5rem 0;
}

#find-plan .plan-info{
    padding: 2rem;
    border: 1px solid #e4e5ec;
}

#find-plan .plan-info *{
    padding: 0.5rem 0 ;
}

#find-plan .plan-info > .spec-info{
    padding: 3rem 0 0 0;
}

#find-plan div.divider-plan-section{
    height: 1px;
    background-color: #e4e5ec;
    width: 15%;
    padding: 0;
    margin: 3rem 0;
}

#find-plan button.large-button{
    padding: 0.5rem 3.5rem;
    margin: 3rem 0 1.5rem 0;
}



/* organizzazione tra icona e testo all'interno delle colonne */
#find-plan .column-icon{
    width: 10%;
}
#find-plan .spec-info p{
    width: 90%;
}

/* 4 elemento in riga */
#row-enterprise .plan-info{
    position: relative;
}
#row-enterprise .plan-info p:nth-last-child(2){
    padding: 1rem 0;
    width: 70%;
}
#row-enterprise button{
    display: inline-block;
    

    position: absolute;
    top: 0rem;
    right: 3rem;
}


/* Sezione partners */
#dropbox-partner > .container{
    padding: 2rem 0;
}

#dropbox-partner aside{
    width: 55%;
}

#dropbox-partner aside img{
    width: 100%;
}

#dropbox-partner article{
    width: 45%;
    padding: 3rem;
}
#dropbox-partner article h3{
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
}


/* Sezione Dropbox business features */
#dropbox-business > .container{
    padding: 1rem 0 3rem 0;
}
#dropbox-business > .container > h2{
    font-size: 2rem;
    padding: 2rem 0;
}

#dropbox-business .container-business-features{
    width: 100%;
    flex-wrap: wrap;
}

#dropbox-business .container-business-features .business-feature{
    width: calc(100% / 3);
    padding-bottom: 3rem;
}

#dropbox-business .business-feature > img{
    width: 100%;
}

#dropbox-business > .container > a{
    padding: 1rem 0;
}




/* banners */

.section-banners{
    width: 100%;

    /* qui sotto da rimuovere */
    background-color: lightgreen;
}

.section-banners .banners-container{
    width: 100vh;
    height: 66.66vh;
    display: flex;
    flex-wrap: wrap;
}

.section-banners .banners-container > .banner{
    width: 50%;
    height: 50%;
    color: white;
}

.section-banners .banners-container img{
    width: 100px;
    height: 100px;
    filter: invert(1);
}

.section-banners  article{
    padding: 2rem;
}




/* FOOTER */

footer{
    color: white;
}
