/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* CLASSI COMUNI */
.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-j-spc-between{
    display: flex;
    justify-content:space-between;
}

.flex-ai-center{
    display: flex;
    align-items: center;
}

.bc-white{
    background-color: lightsalmon;
}
.bc-lightblue{
    background-color: #b4d0e7;
}
.bc-black{
    background-color: #000000;
}

.cl-gray{
    color: #e4e5ec;
}

.strong{
    font-weight: 600;
}

/* container */

.large-container{
    /* altezza fissa da rimuovere e aggiungere padding al contenuto */
    /* height: 300px; */
    
    width: 68%;
    margin: 20px 0;
    background-color: lightcoral;
}

.container{
    /* qui sotto da rimuovere */
    background-color: lightcoral;
    
    width: 57%;
    margin: 20px 0;
}

.banners-container{
    /* SELETTORE DA ELIMINARE */
    height: calc(100% - 4px);
    width: calc((100% / 3) - 4px);
    background-color: lightcyan;
    margin: 2px;

}

a{
    text-decoration: none;
    color: black;
}

.button{
    border-color: none;
    padding: 0.5rem;
    background-color: #0061ff;
    color: white;
}
.large-button{
    padding: 0.5rem 1rem;
}



/* HEADER */

header .nav-left{
    /*qui sotto da rimuovere */
    background-color: lightcoral;
    
    height: 100%;
}

header .nav-right{
    /* qui sotto da rimuovere */
    background-color: lightcoral;
    
    height: 100%;
}

nav.nav-left  img{
    height: 25px;
}

header a{
    padding: 10px 15px;
}

/* MAIN */

/* Jumbo section */
main > section.jumbo{
    padding: 20px 0 0 0;
}
section.jumbo h1{
    font-size: 5rem;
    padding: 50px 0;
    font-weight: 800;
}

section.jumbo div.jumbo-bottom-container{
    display: flex;
}

section.jumbo div.jumbo-bottom-container > div{
    height: 400px;
    width: 40%;
    background-color: purple;
    padding-right: 10px;
    position: relative;
}

section.jumbo div.jumbo-bottom-container > div > button{
    margin: 1rem 0;
}

section.jumbo div.jumbo-bottom-container i{
    font-size: 2rem;
    position: absolute;
    bottom: 0;
}

section.jumbo div.jumbo-bottom-container > div.img-container{
    height: 400px;
    width: 60%;
    background-color: pink;
}

div.img-container img{
    height: 120%;
}



/* main 5 sezioni */

/* sezione 1  (tre colonne + riga)  */


#find-plan h2{
    font-size: 2.8rem;
    padding: 6rem 0 3rem 0
}

#find-plan .container-opt-sub{
    padding: 2.5rem 0 1.5rem 0;
    flex-wrap: wrap;
}

#find-plan .container-opt-sub article.column-opt-sub{
    /* larghezza con rimosso il margine dato alla sola colonna "advance" */
    width: calc((100% / 3) - 20px);
    

    /*qui sotto da rimuovere */
    background-color: purple;
}

#find-plan .container-opt-sub article.column-opt-sub.advanced{
    margin: 0 10px;
}

#find-plan .container-opt-sub article.row-enterprise{
    width: 100%;

    /*qui sotto da rimuovere */
    background-color: purple;
}

/* Interno delle colonne */
#find-plan .plan-name{
    text-align: center;

}

#find-plan .plan-info{

}






.section-banners{
    width: 100%;

    /* qui sotto da rimuovere */
    height: 300px;
    background-color: lightgreen;
}



/* FOOTER */

footer{
    color: white;
}
